@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.conteudo-principal{
    min-width: 100%;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    min-height: 100%;
}

header{
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

@media only screen and (max-width: 850px){
    header nav ul{
        display: none;
    }

    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color: #fff;
    }

    label .close-btn{
        display: none;
    }

    #check:checked ~ header nav ul{
        z-index: 2;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(68.15deg, #2F2325b2 16.62%, #8E5D52b2 85.61%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #check:checked ~ header label .menu-btn {
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        position: fixed;
        display: block;
    }

    label .menu-btn{
        position: absolute;
    }
}


nav a {
    color: #FFF2E7;
    font-family: 'Sarala';
    font-size: 18px;
    font-weight: normal;
    border-radius: 20px;
    padding: 15px;
}

ul{
    display: flex;
}

ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;

}

main{
    margin-bottom: 25px;
    border-top: 0.4px solid #FFF2E7;
}

.section-um{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1{
    font-family: 'Righteous';
    font-size: 45px;
    color: #FFF2E7;
}

div p {
    font-family: 'Sarala';
    font-size: 18px;
    color: #ECD6C4;
    ;
}

button{
    width: 146px;
    height: 52px;
    font-family: 'Sarala';
    font-size: 18px;
    color: #2F2325;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
}

.secundaria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 25px;
}

h2{
    color: #FFF2E7;
    font-family: 'Righteous';
    font-size: 24px;
    border-top: 0.4px solid #FFF2E7;
    padding-top: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
}

.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding: 0px 25px;
    text-align: center;
}

.secundaria p {
    font-family: 'Sarala';
    color: #ECD6C4;
    font-size: 18px;
}

footer{
    border-top: 0.4px solid #FFF2E7;
    padding: 25px;
}

footer img{
    height: 48px;
    display: block;
    margin: auto;
}
